.cover {
  display: block;
  background-image: url('../../img/result-cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  box-sizing: border-box;
  margin-top: -10px;
  text-align: center;
  width: 184px;
  height: 184px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  overflow: hidden;
  margin-bottom: 10px;

  @media screen and (min-width: 321px) {
    width: 220px;
    height: 220px;
  }
  @media screen and (min-width: 759px) {
    width: 244px;
    height: 244px;
  }

  @media screen and (orientation: portrait) and (max-width: 759px) and (min-width: 321px) {
    margin-bottom: 4vh;
    width: 60vw;
    height: 60vw;
    max-width: 300px;
    max-height: 300px;
  }

  @media screen and (orientation: portrait) and (max-width: 759px) and (min-width: 321px) {
    margin-bottom: 4vh;
  }

  &__avatar {
    margin: auto;
    margin-top: 0;
    border: 4px solid white;
    border-radius: 50%;
    width: 84px;
    height: 84px;
    flex: 0 0 auto;

    @media screen and (min-width: 759px) {
      width: 122px;
      height: 122px;
    }

    @media screen and (orientation: portrait) and (max-width: 759px) and (min-width: 321px) {
      width: 28vw;
      height: 28vw;
    }
  }

  &__title {
    font-family: 'OpenSansRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #004a9b;

    @media screen and (min-width: 759px) {
      font-size: 16px;
      line-height: 21px;
    }
  }
}
