@import 'src/theme/mixins';

.home-screen {
  .Panel__in {
    @include mainBackGround;
  }

  &__description {
    margin-top: 15px;
    text-align: center;
  }

  &__button {
    &_main {
      @media screen and (min-width: 500px) {
        width: 257px;
      }
    }

    @media screen and (min-width: 500px) {
      font-size: 23px;
      line-height: 31px;
    }
  }

  &__image {
    max-width: 100%;
    margin: auto;
    display: block;
    margin-top: -20px;
    margin-bottom: -70px;

    @media screen and (min-width: 500px) {
      margin-top: -40px;
      margin-bottom: -110px;
    }
  }
}
