@import 'src/theme/mixins';

.trailer-screen {
  .Panel__in {
    @include mainBackGround;
  }

  .Panel__content {
    max-width: 619px;
  }

  &__video {
    width: 100%;

    @media screen and (max-width: 400px) {
      height: 200px;
    }
    @media screen and (max-width: 500px) {
      height: 150px;
    }
  }

  &__video-container {
    padding-bottom: 0;
    width: 100%;

    box-sizing: border-box;
    margin: 0 auto;

    @media screen and (min-width: 759px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 759px) {
      margin-top: 20px;
      max-width: 400px;
    }
  }

  &__button {
    @media screen and (min-width: 759px) {
      margin-top: 10px;
    }
  }
}

.trailer {
  &__description {
    font-family: 'OpenSansRegular';
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    padding: 0 25px;

    b {
      letter-spacing: 0.065em;
      font-weight: 700;
    }
  }
}
