.footer {
  padding: 10px 10px 5px;
  padding: 0;
  color: #ffffff;
  text-align: center;
  position: relative;

  &__copyright {
    margin: 0;
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
  }

  &__age-mark {
    position: absolute;
    bottom: 7px;
    right: 15px;
  }
}

@media screen and (min-width: 759px) {
  .footer {
    &__copyright {
      position: absolute;
      left: 10px;
      bottom: 10px;
      font-size: 18px;
      line-height: 25px;
    }

    &__age-mark {
      position: absolute;
      right: 10px;
      bottom: 10px;
      top: auto;
      transform: none;
      width: 32px;
      height: 32px;
    }
  }
}
