.custom-header {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 12px;
  padding-top: constant(safe-area-inset-top, 5px);
  padding-top: env(safe-area-inset-top, 5px);

  &__before,
  &__after {
    flex: 0 1 100%;
  }

  &__content {
    flex: 0 0 auto;
  }
}
