.player {
  width: 100%;
  max-width: 554px;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #ffffff;

  &__controls {
    flex: 0 0 40px;
    max-width: 40px;
  }
  &__play-button {
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
  &__meta {
    display: flex;
    padding: 0 14px;
    flex-flow: row nowrap;
    align-items: center;
  }
  &__title {
    font-family: 'OpenSansBold';
    flex: 1 1 100%;
    font-size: 18px;
    line-height: 25px;

    @media screen and (max-width: 500px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__time {
    flex: 0 auto;
    font-size: 12px;
    line-height: 16px;

    @media screen and (max-width: 500px) {
      font-size: 10px;
      line-height: 14px;
    }
  }
  &__track {
    text-align: left;
    flex: 1 1 100%;
  }
  &__progress-bar {
    &:before {
      background-color: #ffffff;
    }

    .Slider {
      &__dragger {
        &:before {
          background-color: #e49c22;
        }
      }

      &__thumb {
        display: none;
      }
    }
  }
}
